base/xml/game.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Resource type list. -->

	<xsl:element name="resources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resource" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xsl:element>

	<!-- Single resource type. -->

	<xsl:element name="resource">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:integer" default="0"/>
			<xs:attribute name="product" type="xs:integer" default="0"/>
			<xs:attribute name="storage" type="xs:integer" default="0"/>
		</xs:complexType>
	</xsl:element>

	<!-- Translation for a single language. -->

	<xsl:element name="translations" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="lang" type="xs:lang" use="required"/>
		</xs:complexType>
	</xsl:element>

	<!-- Translation of a name and description. -->

	<xsl:element name="translation" maxOccurs="unbounded">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="name" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xsl:element>
</xs:schema>
