base/xml/game.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!-- Game / universe root element. -->

	<xs:element name="game">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resources"/>
				<xs:element ref="celbtypes"/>
				<xs:element ref="translations" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Resource type list. -->

	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="resource" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Single resource type. -->

	<xs:element name="resource">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="value" type="xs:integer" default="0"/>
			<xs:attribute name="product" type="xs:integer" default="0"/>
			<xs:attribute name="storage" type="xs:integer" default="0"/>
		</xs:complexType>
	</xs:element>

	<!-- List of celestial body types. -->

	<xs:element name="celbtypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="celbtype" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- Single celestial body type. -->

	<xs:element name="celbtype">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- Translation for a single language. -->

	<xs:element name="translations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translation" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="lang" type="xs:language" use="required"/>
		</xs:complexType>
	</xs:element>

	<!-- Translation of a name and description. -->

	<xs:element name="translation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="id" type="xs:string"/>
					<xs:attribute name="name" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
